.MMB {
  background-color: #781c21;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.MMB .overlap-wrapper-8 {
  background-color: #781c21;
  overflow: hidden;
  width: 1440px;
  height: 3600px;
}

.MMB .overlap-35 {
  position: relative;
  width: 1512px;
  height: 4314px;
  top: -159px;
  left: -36px;
}

.MMB .print-8 {
  position: absolute;
  width: 1512px;
  height: 4314px;
  top: 0;
  left: 0;
}

.MMB .overlap-group-23 {
  position: relative;
  width: 1440px;
  height: 3600px;
  top: 159px;
  left: 36px;
}

.MMB .rectangle-77 {
  position: absolute;
  width: 154px;
  height: 360px;
  top: 3240px;
  left: 12px;
}

.MMB .rectangle-78 {
  position: absolute;
  width: 325px;
  height: 1703px;
  top: 1897px;
  left: 241px;
}

.MMB .rectangle-79 {
  position: absolute;
  width: 1440px;
  height: 3600px;
  top: 0;
  left: 0;
}

.MMB .rectangle-80 {
  position: absolute;
  width: 183px;
  height: 542px;
  top: 0;
  left: 1257px;
}

.MMB .main-7 {
  position: absolute;
  width: 816px;
  height: 3803px;
  top: 355px;
  left: 344px;
  background-color: #000000;
}

.MMB .title-5 {
  position: absolute;
  width: 770px;
  height: 90px;
  top: 23px;
  left: 24px;
}

.MMB .overlap-group-24 {
  position: absolute;
  width: 766px;
  height: 32px;
  top: 0;
  left: 0;
  background-color: #781c21;
}

.MMB .text-wrapper-51 {
  position: absolute;
  width: 190px;
  top: 8px;
  left: 5px;
  text-shadow: 0px 4px 4px #00000080;
  font-family: "Press Start 2P", Helvetica;
  font-weight: 400;
  color: #b5242c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.MMB .throughout-the {
  position: absolute;
  width: 647px;
  top: 42px;
  left: 0;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.MMB .text-wrapper-52 {
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
}

.MMB .text-wrapper-53 {
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
}

.MMB .mag {
  position: absolute;
  width: 765px;
  height: 552px;
  top: 132px;
  left: 29px;
}

.MMB .text-wrapper-54 {
  top: 535px;
  left: 650px;
  position: absolute;
  width: 113px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.MMB .magazine {
  position: absolute;
  width: 761px;
  height: 531px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.MMB .mag-2 {
  position: absolute;
  width: 763px;
  height: 555px;
  top: 727px;
  left: 26px;
}

.MMB .text-wrapper-55 {
  top: 538px;
  left: 648px;
  position: absolute;
  width: 113px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.MMB .inv {
  position: absolute;
  width: 760px;
  height: 554px;
  top: 1316px;
  left: 26px;
}

.MMB .uitnodiging {
  width: 758px;
  height: 534px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.MMB .text-wrapper-56 {
  width: 62px;
  top: 542px;
  left: 696px;
  white-space: nowrap;
  position: absolute;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.MMB .inv-2 {
  position: absolute;
  width: 764px;
  height: 554px;
  top: 2836px;
  left: 26px;
}

.MMB .text-wrapper-57 {
  width: 63px;
  top: 542px;
  left: 699px;
  white-space: nowrap;
  position: absolute;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.MMB .inv-3 {
  position: absolute;
  width: 623px;
  height: 911px;
  top: 1917px;
  left: 95px;
}

.MMB .uitnodiging-2 {
  width: 621px;
  height: 880px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.MMB .text-wrapper-58 {
  width: 63px;
  top: 888px;
  left: 558px;
  position: absolute;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.MMB .nav-13 {
  position: absolute;
  width: 816px;
  height: 33px;
  top: 287px;
  left: 344px;
}

.MMB .overlap-36 {
  position: relative;
  width: 822px;
  height: 33px;
}

.MMB .rectangle-81 {
  position: absolute;
  width: 811px;
  height: 33px;
  top: 0;
  left: 0;
  background-color: #00000080;
}

.MMB .nav-14 {
  position: absolute;
  width: 822px;
  height: 24px;
  top: 9px;
  left: 0;
}

.MMB .text-wrapper-59 {
  position: absolute;
  width: 94px;
  top: 0;
  left: 0;
  font-family: "Helvetica Neue-UltraLight", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.MMB .text-wrapper-60 {
  position: absolute;
  width: 84px;
  top: 0;
  left: 374px;
  font-family: "Helvetica Neue-UltraLight", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.MMB .text-wrapper-61 {
  position: absolute;
  width: 75px;
  top: 0;
  left: 741px;
  font-family: "Helvetica Neue-UltraLight", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.MMB .header-8 {
  position: absolute;
  width: 816px;
  height: 116px;
  top: 159px;
  left: 343px;
  background-color: transparent;
}

.MMB .overlap-37 {
  position: relative;
  width: 816px;
  height: 116px;
}

.MMB .bg-leopard-og-8 {
  position: absolute;
  width: 815px;
  height: 116px;
  top: 0;
  left: 1px;
}

.MMB .rectangle-82 {
  position: absolute;
  width: 373px;
  height: 91px;
  top: 11px;
  left: 115px;
}

.MMB .planetprecious-8 {
  position: absolute;
  width: 322px;
  height: 51px;
  top: 38px;
  left: 140px;
  background-image: url(./img/image-2-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.MMB .planet-14 {
  top: 25px;
  overflow: hidden;
  position: absolute;
  width: 121px;
  height: 65px;
  left: 0;
}

.MMB .overlap-38 {
  position: relative;
  height: 66px;
  top: -1px;
  left: -1px;
}

.MMB .rectangle-83 {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 1px;
  left: 29px;
}

.MMB .rectangle-84 {
  position: absolute;
  width: 118px;
  height: 41px;
  top: 13px;
  left: 2px;
}

.MMB .planet-15 {
  top: 0;
  position: absolute;
  width: 121px;
  height: 65px;
  left: 0;
}

.MMB .overlap-group-25 {
  position: relative;
  width: 118px;
  height: 64px;
  top: 1px;
  left: 1px;
}

.MMB .rectangle-85 {
  position: absolute;
  width: 65px;
  height: 64px;
  top: 0;
  left: 27px;
}

.MMB .rectangle-86 {
  position: absolute;
  width: 118px;
  height: 41px;
  top: 11px;
  left: 0;
}
