.XDL-FOTOGRAFIE {
  background-color: #781c21;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.XDL-FOTOGRAFIE .overlap-wrapper-5 {
  background-color: #781c21;
  overflow: hidden;
  width: 1440px;
  height: 5628px;
}

.XDL-FOTOGRAFIE .overlap-22 {
  position: relative;
  width: 1512px;
  height: 6758px;
  top: -270px;
  left: -36px;
}

.XDL-FOTOGRAFIE .print-5 {
  position: absolute;
  width: 1512px;
  height: 6758px;
  top: 0;
  left: 0;
}

.XDL-FOTOGRAFIE .overlap-group-14 {
  position: relative;
  width: 1440px;
  height: 5628px;
  top: 270px;
  left: 36px;
}

.XDL-FOTOGRAFIE .rectangle-47 {
  position: absolute;
  width: 154px;
  height: 573px;
  top: 5055px;
  left: 12px;
}

.XDL-FOTOGRAFIE .rectangle-48 {
  position: absolute;
  width: 325px;
  height: 2678px;
  top: 2950px;
  left: 241px;
}

.XDL-FOTOGRAFIE .rectangle-49 {
  position: absolute;
  width: 1440px;
  height: 5628px;
  top: 0;
  left: 0;
}

.XDL-FOTOGRAFIE .rectangle-50 {
  position: absolute;
  width: 183px;
  height: 828px;
  top: 0;
  left: 1257px;
}

.XDL-FOTOGRAFIE .main-4 {
  position: absolute;
  width: 819px;
  height: 6039px;
  top: 441px;
  left: 343px;
  background-color: #000000;
}

.XDL-FOTOGRAFIE .title-3 {
  position: relative;
  width: 768px;
  height: 32px;
  top: 20px;
  left: 20px;
}

.XDL-FOTOGRAFIE .overlap-group-15 {
  position: relative;
  width: 766px;
  height: 32px;
  background-color: #781c21;
}

.XDL-FOTOGRAFIE .text-wrapper-38 {
  position: absolute;
  top: 8px;
  left: 5px;
  text-shadow: 0px 4px 4px #00000080;
  font-family: "Press Start 2P", Helvetica;
  font-weight: 400;
  color: #b5242c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.XDL-FOTOGRAFIE .nav-8 {
  position: absolute;
  width: 816px;
  height: 33px;
  top: 394px;
  left: 351px;
}

.XDL-FOTOGRAFIE .overlap-23 {
  position: relative;
  width: 822px;
  height: 33px;
}

.XDL-FOTOGRAFIE .rectangle-51 {
  position: absolute;
  width: 811px;
  height: 33px;
  top: 0;
  left: 0;
  background-color: #00000080;
}

.XDL-FOTOGRAFIE .nav-9 {
  position: absolute;
  width: 822px;
  height: 24px;
  top: 9px;
  left: 0;
}

.XDL-FOTOGRAFIE .text-wrapper-39 {
  position: absolute;
  width: 94px;
  top: 0;
  left: 0;
  font-family: "Helvetica Neue-UltraLight", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.XDL-FOTOGRAFIE .text-wrapper-40 {
  position: absolute;
  width: 84px;
  top: 0;
  left: 374px;
  font-family: "Helvetica Neue-UltraLight", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.XDL-FOTOGRAFIE .text-wrapper-41 {
  position: absolute;
  width: 75px;
  top: 0;
  left: 741px;
  font-family: "Helvetica Neue-UltraLight", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.XDL-FOTOGRAFIE .ONE-PAGER-of-4 {
  position: absolute;
  width: 338px;
  height: 439px;
  top: 538px;
  left: 363px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .ONE-PAGER-of-5 {
  position: absolute;
  width: 338px;
  height: 439px;
  top: 2054px;
  left: 806px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .ONE-PAGER-of-6 {
  position: absolute;
  width: 568px;
  height: 738px;
  top: 3063px;
  left: 472px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .ONE-PAGER-of-7 {
  position: absolute;
  width: 338px;
  height: 439px;
  top: 2054px;
  left: 363px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .ONE-PAGER-of-8 {
  position: absolute;
  width: 338px;
  height: 439px;
  top: 538px;
  left: 792px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .ONE-PAGER-of-9 {
  position: absolute;
  width: 781px;
  height: 444px;
  top: 1040px;
  left: 363px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .ONE-PAGER-of-10 {
  position: absolute;
  width: 781px;
  height: 444px;
  top: 1547px;
  left: 365px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .ONE-PAGER-of-11 {
  position: absolute;
  width: 781px;
  height: 444px;
  top: 2556px;
  left: 362px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .ONE-PAGER-of-12 {
  position: absolute;
  width: 781px;
  height: 444px;
  top: 3884px;
  left: 362px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .IMG-4 {
  position: absolute;
  width: 781px;
  height: 444px;
  top: 4898px;
  left: 362px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .IMG-5 {
  position: absolute;
  width: 781px;
  height: 444px;
  top: 5405px;
  left: 365px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .dsc {
  position: absolute;
  width: 781px;
  height: 444px;
  top: 4372px;
  left: 365px;
  object-fit: cover;
}

.XDL-FOTOGRAFIE .header-5 {
  position: absolute;
  width: 816px;
  height: 116px;
  top: 270px;
  left: 348px;
  background-color: transparent;
}

.XDL-FOTOGRAFIE .overlap-24 {
  position: relative;
  width: 816px;
  height: 116px;
}

.XDL-FOTOGRAFIE .bg-leopard-og-5 {
  position: absolute;
  width: 815px;
  height: 116px;
  top: 0;
  left: 1px;
}

.XDL-FOTOGRAFIE .rectangle-52 {
  position: absolute;
  width: 373px;
  height: 91px;
  top: 11px;
  left: 115px;
}

.XDL-FOTOGRAFIE .planetprecious-5 {
  position: absolute;
  width: 322px;
  height: 51px;
  top: 38px;
  left: 140px;
  background-image: url(./img/image-2-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.XDL-FOTOGRAFIE .planet-8 {
  position: absolute;
  width: 121px;
  height: 65px;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.XDL-FOTOGRAFIE .overlap-25 {
  position: relative;
  height: 66px;
  top: -1px;
  left: -1px;
}

.XDL-FOTOGRAFIE .rectangle-53 {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 1px;
  left: 29px;
}

.XDL-FOTOGRAFIE .rectangle-54 {
  position: absolute;
  width: 118px;
  height: 41px;
  top: 13px;
  left: 2px;
}

.XDL-FOTOGRAFIE .planet-9 {
  position: absolute;
  width: 121px;
  height: 65px;
  top: 0;
  left: 0;
}

.XDL-FOTOGRAFIE .overlap-group-16 {
  position: relative;
  width: 118px;
  height: 64px;
  top: 1px;
  left: 1px;
}

.XDL-FOTOGRAFIE .rectangle-55 {
  position: absolute;
  width: 65px;
  height: 64px;
  top: 0;
  left: 27px;
}

.XDL-FOTOGRAFIE .rectangle-56 {
  position: absolute;
  width: 118px;
  height: 41px;
  top: 11px;
  left: 0;
}
